body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:$default-font-size;
    line-height:1.7;
    color:#777;
    padding: 3rem;
}
.heading-primary{
    color:$color-primary-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main{
        display:block;
        font-size:6rem;
        font-weight: 400;
        letter-spacing:3.5rem;
        animation-name: moveinleft;
        animation-duration: 0.5s;
        animation-timing-function:ease-in;
    }
    &--sub{
        display:block;
        font-size:2rem;
        font-weight: 700;
        letter-spacing:17.4px;
        animation-name: moveinright;
        animation-duration: 0.5s;
        animation-timing-function:ease-in;
    }
    
}

.heading-secondary {
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    display:inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .3s;
    letter-spacing:.2rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }

}

.heading-teriary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child)
    {
        margin-bottom: 3rem;
    }
}

